* {
    padding: 0;
    margin: 0;
}

header {
    background-color: black;
    width: 100%;
    height: 30px;
    position: fixed;
    top: 0px;
    box-shadow: rgba(0, 0, 0, 0) 0px;
    z-index: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    color: white;
    opacity: 0.8;
    text-decoration: none;
    transition: all 5s linear;
}

ul {
    list-style: none;
    display: flex;
    gap: 20px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

li {
    padding-top: 5px;
    text-decoration: none;
    list-style: none;
}

a:hover {
    text-decoration: underline;
    cursor: pointer;
    opacity: 1;
    transition: all 5s linear;
}

.profile01 {
    margin-top: 30px;
    color: white;
    width: 100%;
    height: 500px;
    background-color: gray;
    justify-content: center;
    align-items: center;
}

.profile02 {
    color: white;
    width: 100%;
    height: 500px;
    background-color: lightslategray;
    justify-content: center;
    align-items: center;
    border-color: blanchedalmond;
    display: flex;

}

.tec {
    color: white;
    width: 100%;
    height: 500px;
    background-color: lightsteelblue;
}

.cont {
    color: white;
    width: 100%;
    height: 500px;
    background-color: lightgrey;
}

html {
    scroll-behavior: smooth;
}

.img1,
.img2 {
    transition: transform 0.3s ease-in-out;
}

.img1:hover,
.img2:hover {
    transform: scale(1.2);
}

.img1 {
    margin: 50px 50px 50px -120px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 10.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
    display: flex;
}

.img2 {
    margin: 50px 120px 50px 50px;
    border-radius: 50%;
    width: 300px;
    height: 300px;
    border: 5px solid black;
    object-fit: cover;
    box-shadow: rgba(0, 0, 0, 10.35) 0px 5px 15px;
    justify-content: center;
    align-items: center;
}

.profile-container {
    display: flex;
    align-items: center;
    justify-content: center;
    align-items: center;
}

.filhas {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;
    padding: 20px;
    height: 300px;
    width: 400px;
    justify-content: top;
    align-items: top;
    display: flex;

}

.filhas div {
    align-self: flex-start;
}


.perfil01{
    margin-left: 980px;
    margin-top: 30px;
}

.perfil02{
    margin-left: 560px;
    margin-top: 30px;
}

h2{
    border-bottom: 5px solid brown;
    width: 110px;
    padding-bottom: 1px;
    margin-bottom: 1px;
    text-align: center;
    color:black;
    justify-content: center;
    align-items: center;
}

.cont{
    align-items: center;
    justify-content: center;
    display: flex;
    color: black;
}